@import url("../tipografia/fonts.css");

html{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: MyriadPro;
  font-style: italic;
}

textarea{
  font-family: MyriadPro;
  font-style: italic;
  font-size: 15px;
}

#logo{
  text-align: center;
}

header{
  width: 100%;
  background-color: #A05BA6;
  height: 40px;
  position: relative;  
  
}

nav{
  width: 100%;
}

ul {
  list-style: none;
}
  
nav li a{
  background-color: #A05BA6;
  color: white;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  float: left;  
}

#logout{
  float: right;
  padding: 6.5px;
}

.menu-logout{
  width: 23px;
}

nav li a:hover, .menu-logout:hover{
  background-color: #824787;
}

.content{
  width: 100%;
  display: flex;
}

.left{
  width: 25%;
  /* background-color: aquamarine; */
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

.center{
  width: 50%;
 /*  background-color: brown; */
  display: inline-block;
  border-radius: 5px;
}

.advertising{
  display: inline-block;
  border-radius: 5px;
  background-color: #E5E3E3;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.right{
  width: 20%;
}

.menu-home, .menu-search, .menu-friend, .menu-perfil, .menu-logout{
  width: 25px;
  
}

.personal-information{
  background-color: #E5E3E3;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin: 10px;
  text-align: center;
}

.user-description{
  width: 90%;
  height: 75px;
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 5px;
}

.friends-list{
  background-color: #E5E3E3;
  border-radius: 5px;
  padding: 5px;
  width: 90%;  
  margin: 10px;
  height: 100px;  
  text-align: center;
}

p{
  padding: 5px;
}

.search-post{
  background-color: #E5E3E3;
  border-radius: 5px;
  width: 95%;
  padding: 5px;
  margin: 10px;
}

.textarea-post, .textarea-posts{
  height: 65px;
  width: 80%;
  resize: none;
}

.search-text{
  text-align: center;
}

.search{
border-radius:5px;
width: 90%;
padding: 10px;
margin: 10px;
}

@media only screen and (max-width: 768px) {
  .right{
    display: none;
  } 

  .left{
    width: 35%;
  }

  .center{
    width: 65%;
  }
}

@media only screen and (max-width: 360px) {

  .left, .right{
    display: none;
  } 

  .center{
    width: 98%;
  }
 
  .textarea-post, .textarea-posts{
    height: 65px;
    width: 75%;
  }

  nav li a{
    background-color: #A05BA6;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    float: left;
    
  }
}


