@import url("http://127.0.0.1:5500/tipografia/fonts.css");

html{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: MyriadPro;
  font-style: italic;
}

textarea{
  font-family: MyriadPro;
  font-style: italic;
  font-size: 15px;
}

#logo{
  text-align: center;
}

header{
  width: 100%;
  background-color: #A05BA6;
  height: 40px;
  position: relative;    
}

nav{
  width: 100%;
}

ul {
  list-style: none;
}
  
nav li a{
  background-color: #A05BA6;
  color: white;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  float: left;
  
}

#logout{
  float: right;
  padding: 10px 50px;
  color: white;
  font-family: MyriadPro;
  font-style: oblique;
  cursor: pointer;
}

.menu-logout{
  width: 23px;
}

nav li a:hover, .menu-logout:hover{
  background-color: #824787;
}

.content{
  width: 100%;
  display: flex;
}

.general{
  width: 75%;
/*   background-color: yellow; */
  text-align: left;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.profile{
  background-color: #E5E3E3;
  border-radius: 5px;
  height: 250px;
  margin: 10px;
  padding: 5px;
}

.advertising{
  display: inline-block;
  border-radius: 5px;
  background-color: #E5E3E3;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.right{
  width: 25%;
}

.friend-and-posts{
  display: flex;
  
}

.left{
  width: 30%;
  background-color: #E5E3E3;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.center{
  width: 70%;
 /*  background-color: brown; */
  display: inline-block;
  border-radius: 5px;
}


.menu-home, .menu-search, .menu-friend, .menu-perfil{
  width: 25px;
  
}

.user-description{
  width: 90%;
  height: 35px;
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 5px;
  border: none;
}


table{
  height: 350px;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.bd, .personal-post{
  background-color: #E5E3E3;
  border-radius: 5px;
  width: 95%;
  padding: 5px;
  margin: 10px;
}

.textarea-post, .textarea-posts{
  height: 65px;
  width: 80%;
  resize: none;
  border-radius: 5px;
}

input[value="Publicar"] {
  width:100px;
  height:22px;
  font-size: 1rem;
  color: white;
  background-color: #83BE52;
  border-radius: 7px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

#imgLike{
    size: 10px;
    width: 15px;
    text-align: center;
    padding-top: 2px;
}

.button-like{
  border-radius: 7px;
  width: 110px;
  border: 1;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
}

.button-like::before{
    width: 10px;
    height:22px;
    right: 5px;
    top: 7px;
    text-align: center;
    font-size: 5px;
}

.login-user-face{
  width:80px;
  height:80px;
  background-image: url("../../image/user.jpg");
  background-size: 90px;
  background-position: center;
  background-repeat:no-repeat;
  margin: 0px;
  padding:0px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.user-face{
  width:60px;
  height:60px;
  background-image: url("../../image/user.jpg");
  background-size: 70px;
  background-position: center;
  background-repeat:no-repeat;
  margin: 0px;
  padding:0px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .right{
    display: none;
  } 

  .profile{
    background-color: #E5E3E3;
    border-radius: 5px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    width: 100%;
  }

  .left{
    width: 35%;
  }

  .center{
    width: 65%;
  }
}

@media only screen and (max-width: 360px) {

  .left, .right, .profile{
    display: none;
  } 

  .center{
    width: 100%;
  }
 
  .textarea-post, .textarea-posts{
    height: 65px;
    width: 80%;
  }

  nav li a{
    background-color: #A05BA6;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    float: left;
  }

}


