*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aquamarine;
    color: black;
}

main{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

