@import url("../tipografia/fonts.css");

body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: MyriadPro;
  font-weight: 500;
}

.content{
  width: 100%;
  height: 100%;
}

.login{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

#btnLogin, #btnRegister2{
  border-radius: 10px;
  padding: 10px;
  font-weight: 200;
  font-size: 15px;
  cursor: pointer; 
  text-align: center;
  height: 40px;
  background-color:#83c669;
  color: white;
  cursor: pointer;
}

.presentación-login{
  width: 60%;  
  background-color: #EFEEE9;
  height: 100%;
  text-align: center;
}

.content-login{
  width: 40%;
  background-color: #FFFFFF;
  height: 100%;
}

#register{
  height: 100%;
  display: flex;
}

#btnRegister1{
  border-radius: 10px;
  padding: 10px;
  font-weight: 200;
  font-size: 15px;
  cursor: pointer; 
  text-align: center;
  height: 40px;
  border-color:#83c669;
  background-color: white;
  color: #537f42;
  cursor: pointer;
}

#presentación-register{
  background-color: #EFEEE9;
  width: 60%;
  height: 100%;
  text-align: center;
}

#content-register{
  background-color: #FFFFFF;
  width: 40%;
  height: 100%;
}


#section-login, #section-register{
  width: 300px;
  height: 550px;
  border-radius: 10px;
  background-color:white;
  padding: 25px; 
  margin: 20px 30px 30px 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
}

#botoncitos{
  text-align: center;
}

.login-google{
  width:70px;
  height:70px;
  background-image: url("../image/boton_google.png");
  background-size: 70px;
  background-repeat:no-repeat;
  margin: 0px;
  padding:0px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.80;
}

.button-google:hover{
  opacity: 1;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}

.login-facebook{
  width:70px;
  height:70px;
  background-image: url("../image/boton-facebook.jpg");
  background-size: 70px;
  background-repeat:no-repeat;
  margin: 0px;
  padding:0px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.80;
}

.button-facebook:hover{
  opacity: 1;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}

#section-login:hover, #section-register:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hiden {
  display: none;
}

.show {
  display: block;
}

input{
  border-radius: 5px;
  height: 25px;
  width: 95%;
  margin: 5px;
}


#presentación-login, #presentación-register{
  color: #A05BA6;
  font-family: "MyriadPro";
  font-style: italic;
  font-size: 25px;
}

.checkbox-condiciones{
  size:3px;
}

/* Galaxy S3, S4, S5: 360 x 640  */
@media only screen and (max-width: 360px) {

  .presentación-login{
    display: none;
  }
    
  .content-login, content-register{
    width: 100%;
    height: 100%;
  }

  #presentación-register{
    display: none;
  }

  input{
    border-radius: 5px;
    height: 25px;
    width: 85%;
    margin: 5px;
  }

  

}
/* Galaxy Tab 2 y 3 (7.0 pulgadas): 600 x 1024  */
@media only screen and (max-width:600px){


}
/* Pantallas medianas: 1280 x 720 / 1280 x 800  */
@media only screen and (max-width:1280px){


}
