@import url("../tipografia/fonts.css");

body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: MyriadPro;
    font-weight: 500;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
}

.content-presentation{
    width: 50%;
    height: 100%;
    background-color: #EFEEE9;
    text-align: center;
}

.presentation{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.content-login-register{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #EFEEE9;
    text-align: center;
}

.login, .register{
    width: 400px;
    height: calc(100% - 3px);
    background-color:white;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation-text{
    color: #A05BA6;
    font-family: "MyriadPro";
    font-style: italic;
    font-size: 25px;
}

.login{
    z-index: 9;
}

.register{
    z-index: 6;
}

.button-google-facebook{
    text-align: center;
}

img{
  width: 350px;
  padding: 10px;
}

.login-google{
    width:60px;
    height:60px;
    background-image: url("../image/boton_google.png");
    background-size: 60px;
    background-repeat:no-repeat;
    margin: 0px;
    padding:0px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.80;
}
  
.login-google:hover{
    opacity: 1;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
}
  
.login-facebook{
    width:60px;
    height:60px;
    background-image: url("../image/fb.png");
    background-size: 60px;
    background-repeat:no-repeat;
    margin: 0px;
    padding:0px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.80;
}
  
.login-facebook:hover{
    opacity: 1;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
}

.button-login, .button-registrarse, .button-register{
    border-radius: 15px;
    height: 50px;
    width: 80%;
    margin: 5px;
}

.button-login, .button-register{
    background-color: #83BE52;
    color: #FFFFFF;
}

.button-registrarse{
    border-color: #83BE52;
    background-color: #FFFFFF;
    color: #83BE52;
}

input[type="email"], input[type="password"], input[type="text"]{
   border: 0;
   /*   border-bottom: 2px solid #EFEEE9; */
    border-radius: 15px;
    width: 78%;
    margin: 10px;
    padding-left: 5px;
    outline: none;
    height: 50px;
    background-color: #EFEEE9;
}

.checkbox-condiciones{
    size:3px;
}

.hiden {
    display: none
}
  
.show {
    display: block;
}

/*Validación correo y contraseña */
span{
  color: #e52727;
  font-size: 15px;
}



/* Galaxy S3, S4, S5: 360 x 640  */
@media only screen and (max-width: 360px) {

    .content-presentation{
        display: none;
    }
        
    .content-login-register{
        width: 100%;
        height: 100%;
    }
        
    input{
        border-radius: 5px;
        height: 25px;
        width: 85%;
        margin: 5px;
    }
}