body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  }

input{
  border-radius: 5px;
  height: 25px;
  width: 300px;
}

.login{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 10px;
}

.login-google{
  width:50px;
  height:50px;
  background-image: url(../image/google.png);
  margin: 1px;
  padding:5px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.login-google:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}

.login-facebook{
  width:50px;
  height:50px;
  background-image: url(../image/fb.png);
  margin: 1px;
  padding:5px;
  -moz-border-radius: 50px;
  border-radius: 50px;

}

#logo{
  align-items: center;
}

#btnFacebook{background: #3b5998;}
#btnGoogle{background: #c32f10;}
#btnLogin{background:#C657B0;}
#btnRegister{background:#65C550;}

.omb_login .omb_loginOr {
position: relative;
font-size: 1.5em;
color: #aaa;
margin-top: 1em;
margin-bottom: 1em;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
background-color: #cdcdcd;
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.show {
display: block;
}			


/* Galaxy S3, S4, S5: 360 x 640  */
@media only screen and (max-width: 360px) {

}
/* Galaxy Tab 2 y 3 (7.0 pulgadas): 600 x 1024  */
@media only screen and (max-width:600px){


}
/* Pantallas medianas: 1280 x 720 / 1280 x 800  */
@media only screen and (max-width:1280px){


}
